# mistral metric api example configuration
#
# Log settings
log: {
  path: /srv/mistral/instance/log
  file: mistral.log
  # reopen logfile on signal USR2
  rotate.on.usr2: true
}

# Zookeeper settings
zookeeper: {
  # publish offset updates every commit.ms
  commit.ms: 2000
  connect.string: 'zk-server01:2181,zk-server02:2181/chroot/kafka'
  reset.offset.on.startup: false
}

# Kafka settings
kafka: {
  producer.topic: mistral
  producer.response.strategy: WaitForLocal
  producer.retry.attempts: 4
  keepalive.ms: 4200
}

# Legacy settings
legacy: {
  # path for the metrics socket
  socket.path: /run/mistral.seqpacket
  # print metrics on STDERR
  metrics.debug.stderr: false
  # print metrics every n seconds
  metrics.debug.frequency.seconds: 30
}

# misc settings
misc: {
  produce.metrics: true
  # will be included in metric names if set
  instance.name: foo
}

# mistral application settings
mistral: {
  handler.queue.length: 16
  listen.address: 0.0.0.0
  listen.port: 7400
  listen.scheme: https
  api.endpoint.path: /api/metrics
  authentication.style: static_basic_auth
}

# static basic auth settings
basicauth: {
	username: foouser
	password: sikrit
}

# tls settings for listen.protocol https
tls: {
	# multiple certificate chains may be specified
  certificate.chains: [
		{ certificate.chain.file: '/tmp/cert01.pem'
			certificate.key.file: '/tmp/cert01.key'
		},
  ]
  # minimum accepted TLS protocol version:
  # - TLS1.0
  # - TLS1.1
  # - TLS1.2 (default)
	min.version: TLS1.2
  # maximum accepted TLS protocol version:
  # - TLS1.0
  # - TLS1.1
  # - TLS1.2
  # - highest (default)
  max.version: highest
  # setting this key to strict limits the offered ciphersuites to
  # - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
  # - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  # - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
  cipher.style: strict
}
